[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.7"
djangorestframework = "*"
django-redis = "*"
psycopg2 = "*"
serializers = "*"
celery = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
mutagen = "*"
requests = "*"
django-ckeditor = "*"
django-crontab = "*"
drf-extensions = "*"

[requires]
python_version = "3.6"
